.medium {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    will-change: transform;
    transform: translateZ(0);
    display: block;
    backface-visibility: hidden;
}

.medium1hor {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 20px;
}

.medium1ver {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 20px;
}

.media {
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
    width: var(--max-width);
    height: var(--max-height);
}

.media2 {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.media2 div {
    width: 50%;
    height: 100%;
}

.media2 div:nth-child(1) {
    margin-right: 20px;
}

.media3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.media3Item {
    width: 50%;
    height: 100%;
}

.media3Item:nth-child(1) {
    margin-right: 20px;
}

.media3Column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.media3ColumnItem {
    height: calc(50% - 10px);
}

.media3ColumnItem:nth-child(1) {
    margin-bottom: 20px;
}

.media4 {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.media4Column {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.media4Column:nth-child(1) {
    margin-right: 20px;
}

.media4Column .media4ColumnItem:nth-child(1) {
    margin-bottom: 20px;
}

.media4ColumnItem {
    height: calc(50% - 10px);
}

.media5 {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.media5Item {
    width: 33%;
    height: 100%;
    margin-right: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.media5Column {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100%;
}

.media5Column:nth-child(2) {
    margin-right: 20px;
}

.media5Column .media5ColumnItem:nth-child(1) {
    margin-bottom: 20px;
}

.media5ColumnItem {
    height: calc(50% - 10px);
}

.bloored {
  filter: blur(20px);
}

.mediumContainer{
    border-radius: 20px;
    overflow: hidden;
}