.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.image img {
    width: 45px;
}

.titleText {
    font-family: 'Raleway' sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #F6F6F6;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    width: 310px;
    height: 50px;
    font-family: "Raleway" sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #ADADBD;
    background-color: #2C2F36;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    box-sizing: border-box;
}

.input::placeholder {
    font-style: italic;
}

.mainBtn {
    background-color: #1AAAF5;
    outline: none;
    width: 310px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: none;
    font-family: "Raleway" sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: white;
    cursor: pointer;
}

@media (max-height: 900px) {
    .titleText {
        font-size: 35px;
    }

}

@media (max-width: 1600px) {
    .titleText {
        font-size: 35px;
    }

}